.header {
  padding: 41px 0 12px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__collection {
    display: flex;
    align-items: center;
    gap: 40px;

    li:nth-child(5) a {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }

  &__hamburger {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
  }
}

@media (max-width: 768px) {
  .navbar {
    &__collection {
      display: none;
    }

    &__hamburger {
      display: block;
    }
  }
}
