.sponsors {
  text-align: center;

  h3 {
    margin-top: 77px;
    font-weight: 400;
    font-size: 18px;
  }

  &-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 45px;
    gap: 100px;
    flex-wrap: wrap;
  }
}
